---
layout: default
---

<header>
  <h1 class="page-title">{{ page.title }}</h1>
</header>
<div class="content" style="min-height: 70vh; background-color: tan">
  {{ content }}
</div>
<div class="footer" style="position: absolute; bottom: 0; margin-bottom: 5vh">
  Find me on
  <a href="https://twitter.com/tomsherlocked" target="_blank">Twitter</a>, or
  <a href="https://www.linkedin.com/in/tom-sherlock-853a80105/" target="_blank"
    >LinkedIn</a
  >
  or <a href="https://www.github.com/tomsherlocked" target="_blank">GitHub.</a>
  <br />
</div>

<div class=""><br /><br /></div>
