---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content" style="min-height: 70vh">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }} {% include post-tags.html post=page %}
  </div>

  {% include comments.html %} {% include related_posts.html %}
</div>

<div class="footer">
  Find me on <a href="https://twitter.com/tomsherlocked">Twitter</a>, or
  <a href="https://www.linkedin.com/in/tom-sherlock-853a80105/">LinkedIn</a> or
  <a href="https://www.github.com/tomsherlocked">GitHub.</a>
  <br />
</div>
<div class=""><br /><br /></div>
